<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--init method指定的方法会在容器Spring创建之后立即执行-->
    <bean lazy-init="true" init-method="init" destroy-method="destroy" class="com.hcy.entity.Student" id="student"/>
</beans>