# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IdeaWorkSpace\02-Mybatis-02-More-Mapper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
